body.darkmode :not(.modal-body)>ol li, body.darkmode :not(.modal-body)>p, 
body.darkmode :not(.modal-body)>span, body.darkmode :not(.modal-body)>ul li {
    color: #bdbdbd!important;
}
.inputbox input {
  height: 40px;
  padding: 5px 8px;
  border-radius: 6px;
  margin: 10px;
  width: 400px;
}

.inputbox a {
  text-decoration: none;
  color: #ffffff !important;
  background: #5b5b5b;
  padding: 8px 16px;
  border-radius: 5px;
}
div#chaptercontent div {
  display: none;
}
